Navbar {
    background-color: #076db1;
    padding: 10px 0;
  }
  
  Navbar.Brand {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
  }
  

  .Link {
    color: rgb(235, 235, 235);
    margin-right: 15px;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
  }
  
  Button.secondary {
    background-color: #a8b9c7;
    border: none;
    margin-left: 15px;
  }
  
  .Link:hover,
  Button.secondary:hover {
    color: #dee4e8;
  }
  